/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

















/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}


/*/////////////////////////////////////////////////////////////////////////////////*/
/*----------------------------------- My styles -----------------------------------*/
/*/////////////////////////////////////////////////////////////////////////////////*/


/*---------------- General Styles ----------------*/
* {
  box-sizing: border-box;
}

body{
  font-family: 'Varela', sans-serif;
  color: #4d4d4d;
  -webkit-font-smoothing: antialiased;
  letter-spacing: .08em;
  font-weight: normal;
}

.container {
  max-width: 1150px;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

h4 {
  font-size: 1rem;
  margin: 0;

}

h2 {
  font-size: 1.7rem;
  color: #f15a24;
  /*font-style: italic;*/
  margin: .5rem 0;
  text-shadow: 1px 2px 2px rgba(0,0,0,.05);
}


/*---------------- header ----------------*/

header {
  text-align: center;
  height: 150px;
  padding: 25px;
}


/*---------------- Main Area ----------------*/

#main-area {
  width: 100%;
  height: 400px;
  background: url('../img/main_area_bg.jpg') center no-repeat,
  #474994;
  box-shadow: inset 0 3px 5px rgba(0,0,0,.3);
  text-align: center;
  padding-top: 35px;
}

.boxes {
  display: inline-block;
  background: rgba(255,255,255,0.97);
  height: 330px;
  margin: 0 auto;
  border-radius: 10px;
  padding: 30px;
  float: left;
}

/*---------------- Left Box ----------------*/

.left_box,
.right_box {
  width: 395px;
}

.middle_box {
  width: 310px;
  margin: 0 25px;
}

.name-and-score,
.streaks {
  float: left;
  margin: 0;
}

.name-and-score {
  width: 60%;
  text-align: left;
}

.fire_bg {
  background: url('../img/fire_bg.png') no-repeat,
  rgba(255,255,255,0.97);
  background-position: center 70px;
}

.streaks {
  /*border: 1px solid red;*/
  height: 100%;
  width: 40%;
  position: relative;
}

.streak-left,
.streak-right{
  width: 50%;
  /*background: pink;*/
  position: absolute;
  top: 15%;
}

.streak-left{
  left: 0;
  border-right: 2px solid #e7e7e7;
}

.streak-right{
  right: 0;
  /*background: green;*/
}


#inside-left,
#inside-right {
  width: 100%;
  position: absolute;
  top:0;
}
#inside-left{

  /*background: blue;*/
}

#inside-right{

  /*background: rgba(255,0,0,.7);*/
}

.big-streak-img{
  display: block;
  width: 35px;
  margin: 30px auto;
}

.big-streak-img:nth-child(3n){
  width: 45px;
  margin-bottom: 5px;
}

.big-streak-img:first-child{
  margin-top: 5px;
}

#active_player_name {
  margin-bottom: 50px;
  text-transform: capitalize;
}

.active_player_score_line{
  font-size: 1.3rem;
  color: #f15a24;
  margin: 0;
  font-style: italic;
  margin-bottom: -20px;
  text-shadow: 1px 2px 1px rgba(0,0,0,.15);
}

#active_player_score{
  font-size: 5.5rem;
}

.points-to-win-line{
  color: #00a300;
  margin: 0;
}


/*---------------- Middle Box ----------------*/

.middle_box h4 {
  margin: 20px 0 -15px;
}

#current_score{
  color: #e90000;
  margin: 0;
  font-size: 3.7rem;
  text-shadow: 1px 2px 1px rgba(0,0,0,.2);
}

@keyframes move-current-score {
  0% {top: 0; left: 0;}
  100% {top: -50px; left: -400px; font-size: 2rem;}
}

#current_score.moving_current_score{
  position: relative;
  color: green;

  animation-name: move-current-score;
  animation-duration: 1s;
}

#current_score.moving_current_score::before{
  content: "+";
}

/*---------------- Right Box ----------------*/

.current_attemps{
  /*font-size: .875rem;*/
  background: white;
  width: 200px;
  margin: 0 auto;
  height: 50px;
  border-radius: 10px;
  padding-top: 14px;
  position: relative;
}

#current_attemps_number {
  font-weight: bold;
}

#roll_dice_button,
#hold_points_button {
  border: none;
  background: linear-gradient(to bottom, #f15a24, #f24406), #f15a24;
  color: white;
  width: 200px;
  margin: 0 auto;
  height: 50px;
  border-radius: 10px;
  outline: none;
  font-weight: bold;
  font-style: italic;
  position: relative;
}

#roll_dice_button{
  margin: 60px auto;
}

#roll_dice_button:hover,
#hold_points_button:hover {
  font-size: 1.15rem;
}

#current_attemps_number::before {
  content: url('../img/flame_icon_gray.png');
  position: absolute;
  left: -28px; top: -8px;
}

#current_attemps_number.current_attemps_streak::before {
  content: url('../img/flame_icon.png');
}

#roll_dice_button::before {
  content: url('../img/dice_icon.png');
  position: absolute;
  left: -28px; top: -8px;
}

@keyframes rotate-dice {
    0%   {transform: rotate(0deg);}
    100%  {transform: rotate(360deg);}
}


.roll_dice_active::before {
  content: url('../img/dice_icon.png');
  position: absolute;
  left: -28px; top: -8px;
  animation: rotate-dice;
  animation-duration: 1s;
}

#roll_dice_button.roll_dice_inactive{
  background: #e7e7e7;
  font-size: 1rem;
}


#hold_points_button::before {
  content: url('../img/lock_open_icon.png');
  position: absolute;
  left: -28px; top: -8px;
}

#hold_points_button:hover::before {
  content: url('../img/lock_icon.png');
  position: absolute;
  left: -28px; top: -8px;
}

#hold_points_button.hold_points_inactive{
  background: #e7e7e7;
  font-size: 1rem;
}

/*---------------- Players Area ----------------*/

#player-box-container {
  height: 200px;
  display: inline-block;

}

.player_box{
  width: 160px;
  height: 200px;
  margin-top: 15px;
  margin-right: 5px;
  text-align: center;
  display: block;
  float: left;
  border-radius: 5%;
  padding-top: 8px;

  /*background: pink;*/

}

.active_player_box{

  border: 2px solid #f15a24;
}

.fire_streak{
  background: url('../img/fire_bg.png') no-repeat;
  background-size: 190px;
  background-position: center 50px;
}

.player_box:last-child{
    margin-right: 0;
}

.player_names{
  font-weight: bold;
  font-size: 1.3rem;
  color: #f15a24;
  margin: 0;
  font-style: italic;
  margin-bottom: 15px;
  text-shadow: 1px 2px 1px rgba(0,0,0,.07);
  text-transform: capitalize;
  overflow: hidden;
  height: 30px;
}

.player_score_heading {
  color: #4d4d4d;
  font-size: 0.875rem;
  margin-bottom: 5px;
}

.player_score{
  font-size: 1rem;
  color: #f15a24;
  margin: 0;
  text-shadow: 1px 2px 1px rgba(0,0,0,.07);
}

.player_score_number {
  font-size: 1.625rem;
  font-weight: bold;
}

/*---------------- Small Streaks ----------------*/

.small_flames,
.small_xs {
  width: 105px;
  height: 25px;
  margin: 10px auto;
  position: relative;
}

.small-streak-img {
  margin-right: 15px;
  width: 25px;
  float: left;
}


.small-streak-img:last-of-type {
  margin: 0;
  width: 25px;
}

.inside-small-flame,
.inside-small-x {
  position: absolute;
  top: 0;
  width: 100%;

  /*background: green;*/
}

/*---------------- Rules ----------------*/

#rules {
  width: 50%;
  max-width: 800px;
  margin: 80px auto;
}

.rule_list li {
  margin-bottom: 30px;
}


.border_top {
  border-top: 2px solid #e7e7e7;
}

/*---------------- Footer ----------------*/

footer{
  text-align: center;
}

footer p {
  max-width: 80%;
  font-size: .68rem;
  margin: 40px auto;
  text-align: justify;
}

footer img{
  width: 24px;
  opacity: 0.5;
  margin: 0 5px -20px;
}

footer img:hover {
  opacity: 1;
}


.bottom_line {
  text-align: center;
}

.bottom_line a,
.bottom_line a:link,
.bottom_line a:visited {
  color: #008fbe;
}

.bottom_line a:hover {
  color: #006485;
  position: relative;
}

.bottom_line a {
  position: relative;
}

.bottom_line a .surielmedia_tooltip {
  visibility: hidden;
  width: 120px;
  background-color: #4d4d4d;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  left: 30px; top: -50px;
  z-index: 1;
}

.bottom_line a:hover .surielmedia_tooltip {
  visibility: visible;
}

.surielmedia_tooltip::after {
  content: "";
  width: 10px;
  height: 10px;
  background-color: #4d4d4d;
  display: block;
  position: absolute;
  bottom: -4px;
  left: 30px;
  transform: rotate(45deg);
}


/************** Pop ups *************-*/

.low-opacity-screen{
  background: radial-gradient(#fff,rgba(255, 255, 255, 0.9) 600px);
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0; left: 0; right: 0;
  opacity: 1;
}

#popup-box {
  background: rgba(0,0,0,.9);
  width: 700px;
  height: 100vh;
  max-height: 400px;
  position: fixed;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
  overflow: scroll;
}

.popup-content {
  text-align: center;
  padding: 20px;
}

.popup-content h2 {
  color: white;
  text-transform: uppercase;
  font-size: 2rem;
}

.popup-content h3 {
  color: white;
}

p.error {
 color: red;
}

.name-too-long {
  color: red;
  font-size: .675rem;
}

#message-text{
  color: white;
}



.popup-content #number-of-players {
  display: block;
  width: 80px;
  height: 50px;
  margin: 20px auto;
  font-size: 1.2rem;
  -webkit-appearance: none;
  -webkit-border-radius: 0px;
  background: url("data:image/svg+xml;utf8,<svg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='24' height='24' viewBox='0 0 24 24'><path fill='#444' d='M7.406 7.828l4.594 4.594 4.594-4.594 1.406 1.406-6 6-6-6z'></path></svg>"), white;
  background-position: 100% 50%;
  background-repeat: no-repeat;
  border-radius: 2px;
  padding-left: 25px;
}

#number-of-players:focus,
.popup-content button:focus,
#name-list input:focus {
  outline-color: #f15a24;
}

.popup-content button {
  display: block;
  width: 80px;
  height: 50px;
  margin: 20px auto;
  font-size: 1.2rem;
  border: none;
  background: white;
  border-radius: 2px;
}

#popup-logo{
  position: absolute;
  bottom: 20px; right: 20px;
  height: 80px;
}

#turn-announcement {
  position: fixed;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

#turn-announcement-name {
  font-size: 8rem;
  color: #f15a24;
  text-transform: capitalize;
  text-shadow: 1px 2px 4px rgba(0,0,0,.2);
}

#turn-announcement-text {
  margin: -20px;
  font-size: 2rem;
}

/*---------------- Enter Player Names form ----------------*/

#name-list{
  padding: 0;
  max-width: 530px;
  margin: auto;
}

#name-list li{
  margin-bottom: 10px;
  float: left;
  list-style: none;

}

#name-list li:nth-child(2n+3){
  clear: left;
  background: blue;

}

#name-list li:nth-child(2n+3),
#name-list li:first-child {
  margin-right: 30px;
}


.name-input{
  width: 250px;
  border-radius: 2px;
  border: none;
  height: 35px;
  padding-left: 10px;
}
